/* Estilos gerais */
body {
    background: #212121;
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Removendo margem padrão do body */
    padding: 0; /* Removendo padding padrão do body */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #171717;
    border-radius: 20px; /* Aumentando o raio da borda */
    border: 2px solid #212121; /* Ajustando a cor da borda */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ajustando o tamanho e a opacidade da sombra */
    transition: .4s ease-in-out;
}

.container:hover {
  transform: scale(1.05);
  border: 1px solid black;

}

h2 {
    text-align: center;
    margin-bottom: 30px; /* Aumentando a margem inferior do título */
    color: #fff; /* Mudando a cor do título */
}

.alert {
    padding: 15px; /* Aumentando o preenchimento do alerta */
    margin-bottom: 20px; /* Aumentando a margem inferior do alerta */
    border-radius: 10px; /* Aumentando o raio da borda do alerta */
}

.alert-success {
    background-color: #27ae60; /* Alterando a cor de fundo do alerta de sucesso */
    border-color: #2ecc71; /* Alterando a cor da borda do alerta de sucesso */
    color: #fff; /* Alterando a cor do texto do alerta de sucesso */
}

.alert-danger {
    background-color: #c0392b; /* Alterando a cor de fundo do alerta de perigo */
    border-color: #e74c3c; /* Alterando a cor da borda do alerta de perigo */
    color: #fff; /* Alterando a cor do texto do alerta de perigo */
}

/* Formulário */
form {
    margin-bottom: 30px; /* Aumentando a margem inferior do formulário */
}

label {
    display: block;
    margin-bottom: 10px; /* Ajustando a margem inferior do label */
    color: #fff; /* Alterando a cor do texto do label */
}

input[type="email"],
input[type="password"] {
    border-radius: 25px;
    color: white;
    width: calc(100% - 22px); /* Ajustando a largura do input */
    padding: 12px; /* Aumentando o preenchimento do input */
    margin-bottom: 20px; /* Aumentando a margem inferior do input */
    border: none; /* Removendo a borda do input */
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    outline: none;
    background: none;
    background-color:#171717


}

button {
    width: 100%;
    padding: 12px; /* Aumentando o preenchimento do botão */
    border: none;
    border-radius: 10px; /* Aumentando o raio da borda do botão */
    background-color: #e74c3c; /* Alterando a cor de fundo do botão */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Alterando a cor de fundo ao passar o mouse sobre o botão */
}

p {
    text-align: center;
    color: #fff; /* Alterando a cor do texto do parágrafo */
}

p a {
    color: #3498db;
}

p a:hover {
    text-decoration: underline;
}
